<!DOCTYPE html>
<html>
    <head>
        {% include 'base/head.html' %}
    </head>
    {% include 'base/navbar.html' %}
    <body>
        <div class="shit">
            <h1>About Me</h1>
            <p>
                Hello, i'm EletrixTime (you can call me eletrix),<br>
                I am a french student,<br>
                and i mainly code in Python
                <hr>
                <a href="https://cryptdev.fr">You should visit CryptDev!</a>
                <hr>
                <p>Fun Fact: this shitty website is hosted on a <a href="/stats">fucking raspberry pi 4</a></p>
            </p>
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>