<!DOCTYPE html>
<html>
    <head>
        {% include 'base/head.html' %}
    </head>
    {% include 'base/navbar.html' %}
    <body>
        <div class="shit">
            <h1>eletrixtime</h1>
            <p>A random student in France.</p>
            <br>
            <a href="https://github.com/eletrixtime">GitHub</a> - <a href="https://x.com/@EletrixTimeV2">X</a> - <a href="https://discord.com/channels/@me/896780141081002055">Discord</a>
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>